In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('salaries.csv', delimiter = '\t')
data = data.apply(lambda x: x.str.replace('\xa0', ' ') if x.dtype == "object" else x)

In [5]:
data.drop('Unnamed: 9', axis=1, inplace = True)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401190 entries, 0 to 401189
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   role            401190 non-null  object
 1   country         401190 non-null  object
 2   company         401185 non-null  object
 3   company_rating  390055 non-null  float64
 4   job_title       401190 non-null  object
 5   median          401190 non-null  object
 6   low             401190 non-null  object
 7   high            401190 non-null  object
 8   unit            401190 non-null  object
dtypes: float64(1), object(8)
memory usage: 27.5+ MB

In [9]:
data

,role,country,company,company_rating,job_title,median,low,high,unit
0,Data Scientist,Japan,CTW,2.9,Data Scientist,"¥1,500,000",¥1M,¥18M,/ yr
1,Data Scientist,Japan,FUJIFILM,3.7,Data Scientist,"¥5,000,000",¥5M,¥7M,/ yr
2,Data Scientist,Japan,GMO Internet,3.3,Data Scientist,"¥6,500,000",¥7M,-,/ yr
3,Data Scientist,Japan,Data4Cʼs,3.0,Data Scientist,"¥350,000",¥300K,¥402K,/ mo
4,Data Scientist,Japan,Deloitte,4.0,Data Scientist,"¥6,250,000",¥5M,¥8M,/ yr
...,...,...,...,...,...,...,...,...,...
401185,Data Engineer,Romania,FinProm,2.9,Data Entry Operator,"RON 3,716",RON 4K,RON 4K,/ mo
401186,Data Engineer,Romania,GRS,3.0,Data Entry Operator,"RON 1,612",RON 2K,RON 2K,/ mo
401187,Data Engineer,Romania,Woods Valldata,2.6,Data Entry Operator,"RON 1,648",RON 2K,RON 2K,/ yr
401188,Data Engineer,Romania,FM Logistic,3.5,Data Entry Operator,"RON 4,908",RON 5K,RON 5K,/ mo
401189,Data Engineer,Romania,iCredit (Romania),2.1,Data Entry Operator,"RON 1,001",RON 969,RON 1K,/ mo

In [13]:
def change_unit(unit):
    if unit == ' / yr':
        return 'yearly'
    elif unit == ' / mo':
        return 'monthly'
    elif unit == ' / hr':
        return 'hourly'
data['unit'] = data['unit'].apply(change_unit)

In [15]:
def get_currency(x):
    units = x.split(' ')
    if len(units) ==1:
        return x[0]
    else:
        return units[0]
data['currency'] = data['median'].apply(get_currency)

In [17]:
def format_salary(x):
    x = str(x)
    unit = get_currency(x)
    x = x.replace(unit,'')
    x = x.replace(',','')
    x = x.replace('M','000000')
    x = x.replace('K','000')
    return x
data['median'] = data['median'].apply(format_salary)
data['low'] = data['low'].apply(format_salary)
data['high'] = data['high'].apply(format_salary)

In [21]:
data

,role,country,company,company_rating,job_title,median,low,high,unit,currency
0,Data Scientist,Japan,CTW,2.9,Data Scientist,1500000,1000000,18000000,None,¥
1,Data Scientist,Japan,FUJIFILM,3.7,Data Scientist,5000000,5000000,7000000,None,¥
2,Data Scientist,Japan,GMO Internet,3.3,Data Scientist,6500000,7000000,-,None,¥
3,Data Scientist,Japan,Data4Cʼs,3.0,Data Scientist,350000,300000,402000,None,¥
4,Data Scientist,Japan,Deloitte,4.0,Data Scientist,6250000,5000000,8000000,None,¥
...,...,...,...,...,...,...,...,...,...,...
401185,Data Engineer,Romania,FinProm,2.9,Data Entry Operator,3716,4000,4000,None,RON
401186,Data Engineer,Romania,GRS,3.0,Data Entry Operator,1612,2000,2000,None,RON
401187,Data Engineer,Romania,Woods Valldata,2.6,Data Entry Operator,1648,2000,2000,None,RON
401188,Data Engineer,Romania,FM Logistic,3.5,Data Entry Operator,4908,5000,5000,None,RON
401189,Data Engineer,Romania,iCredit (Romania),2.1,Data Entry Operator,1001,969,1000,None,RON

In [23]:
len(data[data['country']=='United States']['company'].unique())

26976

In [27]:
import pandas as pd
file_path = 'salaries.csv'
data = pd.read_csv(file_path, delimiter='\t', on_bad_lines='skip')
print(data.head())
print(data.info())

             role country       company  company_rating       job_title  \
0  Data Scientist   Japan           CTW             2.9  Data Scientist
1  Data Scientist   Japan      FUJIFILM             3.7  Data Scientist
2  Data Scientist   Japan  GMO Internet             3.3  Data Scientist
3  Data Scientist   Japan      Data4Cʼs             3.0  Data Scientist
4  Data Scientist   Japan      Deloitte             4.0  Data Scientist

       median    low   high   unit  Unnamed: 9
0  ¥1,500,000    ¥1M   ¥18M   / yr         NaN
1  ¥5,000,000    ¥5M    ¥7M   / yr         NaN
2  ¥6,500,000    ¥7M     -    / yr         NaN
3    ¥350,000  ¥300K  ¥402K   / mo         NaN
4  ¥6,250,000    ¥5M    ¥8M   / yr         NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401190 entries, 0 to 401189
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   role            401190 non-null  object
 1   country         401190 non-null  object
 2   company         401185 non-null  object
 3   company_rating  390055 non-null  float64
 4   job_title       401190 non-null  object
 5   median          401190 non-null  object
 6   low             401190 non-null  object
 7   high            401190 non-null  object
 8   unit            401190 non-null  object
 9   Unnamed: 9      0 non-null       float64
dtypes: float64(2), object(8)
memory usage: 30.6+ MB
None

In [30]:
data = data.drop(columns=['Unnamed: 9'])

In [32]:
import csv

file_path = 'salaries.csv'
with open(file_path, 'r', encoding='utf-8') as file:
    reader = csv.reader(file, delimiter='\t')
    for i, row in enumerate(reader):
        if len(row) != 9: 
            print(f' Bad line: {i+1}, Content: {row}')

 Bad line: 1, Content: ['role', 'country', 'company', 'company_rating', 'job_title', 'median', 'low', 'high', 'unit', '']

In [44]:
import pandas as pd
data = pd.read_csv('salaries.csv', delimiter = '\t')
pd.set_option('display.max_column', None)
pd.set_option('display.max_rows', None)
data = data.replace('\xa0', ' ', regex=True) 
data = data.drop(columns=['Unnamed: 9'])
mean_rating = data['company_rating'].mean()
data['company_rating'].fillna(mean_rating, inplace=True)
if 'company' in data.columns:
    data['company'] = data['company'].fillna("No Company")

C:\Users\prana\AppData\Local\Temp\ipykernel_18860\2359774541.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['company_rating'].fillna(mean_rating, inplace=True)

# Assistant
The error you're encountering is a `FileNotFoundError`, which means that the code is trying to read a file named 'glassdoor-salaries.csv', but it cannot find it in the specified directory.

To fix this error, you need to ensure that:
1. The file 'glassdoor-salaries.csv' exists in the current working directory where your Jupyter Notebook is running.
2. If the file is located in a different directory, you should provide the correct path to the file.

Would you like me to provide an example of how to specify the correct file path?

In [36]:
def chg_unit(unit):
    if unit == ' / yr':
        return 'Yearly'
    elif unit == ' / mo':
        return 'Monthly'
    elif unit == ' / hr':
        return 'Hourly'
data['unit'] = data['unit'].apply(chg_unit)

In [46]:
def clmn_currency(x):
    units = x.split(' ')
    if len(units) == 1:
        return x[0]
    else:
        return units[0]
data['currency'] = data['median'].apply(clmn_currency)

In [48]:
def format_salary(x):
    x = str(x)
    unit = clmn_currency(x)
    x = x.replace(unit,'')
    x = x.replace(',','')
    x = x.replace('M','000000')
    x = x.replace('K','000')
    return x              

data['median'] = data['median'].apply(format_salary)
data['low'] = data['low'].apply(format_salary)
data['high'] = data['high'].apply(format_salary)

In [52]:
data.to_csv('cleaned_salaries.csv', index=False)

In [54]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# Set random seed for reproducibility
np.random.seed(42)

# Generate dates
start_date = datetime(2023, 1, 1)
end_date = datetime(2023, 12, 31)
date_range = pd.date_range(start=start_date, end=end_date, freq='D')

# Generate sample data
n_products = 10
n_days = len(date_range)

data = {
    'date': np.repeat(date_range, n_products),
    'product_id': np.tile(np.arange(1, n_products + 1), n_days),
    'stock_level': np.random.randint(0, 1000, n_days * n_products),
    'sales': np.random.randint(0, 100, n_days * n_products),
    'price': np.random.uniform(10, 100, n_days * n_products),
    'promotion': np.random.choice([0, 1], n_days * n_products, p=[0.8, 0.2])
}

# Create DataFrame
df = pd.DataFrame(data)

# Add some trends and seasonality
df['stock_level'] += df['product_id'] * 10  # Different base stock for each product
df['stock_level'] += np.sin(df.index * (2 * np.pi / 365)) * 50  # Yearly seasonality
df['sales'] += np.sin(df.index * (2 * np.pi / 7)) * 10  # Weekly seasonality

# Ensure stock levels are non-negative
df['stock_level'] = df['stock_level'].clip(lower=0)

# Save to CSV
df.to_csv('inventory_stock_data.csv', index=False)

print("Sample data saved to 'inventory_stock_data.csv'")
print(df.head())

Sample data saved to 'inventory_stock_data.csv'
        date  product_id  stock_level      sales      price  promotion
0 2023-01-01           1   112.000000  43.000000  16.002449          0
1 2023-01-01           2   455.860668  83.818315  14.328308          0
2 2023-01-01           3   891.721081  30.749279  36.609854          0
3 2023-01-01           4   312.580983  46.338837  93.929013          0
4 2023-01-01           5   159.440121  31.661163  57.089175          0

In [58]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import RandomForestRegressor
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.sql.functions import datediff, to_date, col

# Initialize Spark session
spark = SparkSession.builder.appName("InventoryStockAnalysis").getOrCreate()

# Load the data
df = spark.read.csv("inventory_stock_data.csv", header=True, inferSchema=True)

# Convert date to DateType and calculate days since the start
df = df.withColumn("date", to_date("date"))
min_date = df.select(min("date")).collect()[0][0]
df = df.withColumn("days_since_start", datediff(col("date"), min_date))

# Prepare features
feature_columns = ["product_id", "days_since_start", "sales", "price", "promotion"]
assembler = VectorAssembler(inputCols=feature_columns, outputCol="features")
df_assembled = assembler.transform(df)

# Split the data into training and testing sets
train_data, test_data = df_assembled.randomSplit([0.8, 0.2], seed=42)

# Create and train the model
rf = RandomForestRegressor(featuresCol="features", labelCol="stock_level", numTrees=100)
model = rf.fit(train_data)

# Make predictions
predictions = model.transform(test_data)

# Evaluate the model
evaluator = RegressionEvaluator(labelCol="stock_level", predictionCol="prediction", metricName="rmse")
rmse = evaluator.evaluate(predictions)
print(f"Root Mean Squared Error (RMSE) on test data = {rmse}")

# Show feature importance
feature_importance = model.featureImportances
for feature, importance in zip(feature_columns, feature_importance):
    print(f"Feature: {feature}, Importance: {importance}")

# Example: Predict stock level for a specific product
sample_input = df_assembled.select("features").limit(1)
sample_prediction = model.transform(sample_input)
print("Sample prediction:")
sample_prediction.select("prediction").show()

# Stop the Spark session
spark.stop()

ModuleNotFoundError: No module named 'pyspark'

In [75]:
conda install -c conda-forge pyspark

error: incomplete escape \U at position 28